localhost {
    map {http.request.header.Server} {backend} {
        "bun"            "localhost:4205"
        "bun-socket.io"  "localhost:4206"
        "node"           "localhost:4215"
        "node-socket.io" "localhost:4216"
        "go"             "localhost:4225"
        default "localhost:4205"
    }

    reverse_proxy {backend}
}
