{$DOMAIN:localhost} {
    vars {
        bun           {$SERVER_BUN:`localhost:4205`}
        bun_socketio  {$WS_SOCKETIO_BUN:`localhost:4206`}
        node          {$SERVER_NODE:`localhost:4215`}
        node_socketio {$WS_SOCKETIO_NODE:`localhost:4216`}
        go            {$SERVER_GO:`localhost:4225`}
        ui            {$SERVER_UI:`localhost:4200`}
    }

    map {http.request.header.Server} {backend} {
        "bun"            {vars.bun}
        "bun-socket.io"  {vars.bun_socketio}
        "node"           {vars.node}
        "node-socket.io" {vars.node_socketio}
        "go"             {vars.go}
        default          {vars.ui}
    }

    reverse_proxy {backend}
}
